.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 450px;
    align-items: flex-start;
    justify-content: flex-start;
}
.project {
    margin-bottom: 20px;
    margin-right: 20px;
}
.projects::before,
.projects::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}
.project img {
    width:290px;
}
