ul {
    list-style-type: none;
    display: flex;
    margin: 20px 0;
    padding: 0;
}
ul li {
    border: 1px solid #555555;
    padding: 10px 15px;
    margin-right: 8px;
}
ul li.selected {
    background-color: #555555;
    color: #FFFFFF;
}
